<html>

<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cantarell&family=Fira+Mono:wght@500&display=swap" rel="stylesheet">
</header>



<body>



  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/characters" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/house/gryffindor" routerLinkActive="active">Gryffindor</a>
          </li>
          <li class="nav-item">
            <a routerLink="/house/ravenclaw" routerLinkActive="active">Ravenclaw</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="intro d-flex flex-column">
    <img src="assets/slytherin.jpg" class="img-fluid mx-auto" style="width:43rem; height: 25rem" >
      <h1 class=text-center>Harry Potter</h1>

      <h2 class="title-character text-center">Characters</h2>
  </div>

  <br>



  <div class="flip-card d-flex flex-row flex-wrap justify-content-around w-100">
    <div class="flip-card-inner" *ngFor="let character of characterSlytherin | slice:0:9 "  style="width: 20rem; height: 22rem;">
      <div class="flip-card-front ">
        <img class="avatar" style="width: 100%; height:22rem" src="{{character.image}}" alt="Avatar">
      </div>
      <div class="flip-card-back">
        <h1 class="name"> {{character.name}}</h1>
        <p>Actor : {{character.actor}}</p>
        <p *ngIf="character.yearOfBirth">Birth : {{character.yearOfBirth}}</p>
        <!-- <div class="patronustitre text-center d-flex flex-row"  *ngIf="character.patronus">Patronus : <p class="patronus pl-2">{{character.patronus}}</p></div> -->
      </div>
    </div>
  </div>


</body>


</html>
