
<html>

<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cantarell&family=Fira+Mono:wght@500&display=swap" rel="stylesheet">
</header>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container-fluid">
      <img src="assets/hogwarts_logo.png" class="img-fluid mx-auto" style="width:5rem; height: 5rem" >
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav color-light  me-auto mt-4 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/house/gryffindor" routerLinkActive="active">Gryffindor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/house/ravenclaw" routerLinkActive="active">Ravenclaw</a>
          </li>
          </ul>
      </div>
    </div>
  </nav>





  <div class="intro d-flex flex-column">
      <img src="assets/houses.jpg" class="img-fluid mx-auto" style="width:8rem; height: 5rem" >
      <h1 class=text-center>Harry Potter</h1>
  </div>

  <h2 class="title-character text-center">Characters</h2>


  <div   class="flip-card d-flex flex-row flex-wrap justify-content-around w-100">
      <div class="flip-card-inner"  *ngFor="let character of characters | slice:0:25 " style="width: 20rem; height: 22rem;">
        <div  class="flip-card-front">
          <img  style="width: 100%; height:22rem" src="{{character.image}}" alt="Avatar">
        </div>
        <div  class="flip-card-back">
          <h1  class="name"> {{character.name}}</h1>
          <p >Actor : {{character.actor}}</p>
          <p *ngIf="character.yearOfBirth ">Birth : {{character.yearOfBirth}}</p>
         <p *ngIf="character.patronus ">Patronus : {{character.patronus}}</p>
        </div>
      </div>
  </div>



<!--
  <div class="card-container d-flex flex-row flex-wrap justify-content-around w-100">

    <div class="card" *ngFor="let character of characters" style="width: 20rem; height: 22rem;" >
      <img class="card-img-top" style="width: 100%; height:22rem" src="{{character.image}}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Name : {{character.name}}</p>
        <p class="card-text" *ngIf="character.house">House : {{character.house}}</p>
        <p class="card-text">Actor : {{character.actor}}</p>
        <div class="d-flex flex-row"  *ngIf="character.patronus">Patronus : <p class="patronus pl-2">{{character.patronus}}</p></div>
      </div>
    </div>

  </div> -->

</body>

</html>
