
<html>

<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cantarell&family=Fira+Mono:wght@500&display=swap" rel="stylesheet">
</header>



<body>



      <div class="intro d-flex flex-column">
        <img src="assets/houses.jpg" class="img-fluid mx-auto" style="width:43rem; height: 25rem" >
          <h1 class=text-center>Harry Potter</h1>
      </div>

  <h2 class="title-character text-center">Characters</h2>



  <div class="card-container d-flex flex-row flex-wrap justify-content-around mb-2 ">
    <div class="card" *ngFor="let character of characters" style="width: 20rem">
      <img class="card-img-top" style="width: 100%" src="{{character.image}}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Name : {{character.name}}</p>
        <p class="card-text" *ngIf="character.house">House : {{character.house}}</p>
        <p class="card-text">Actor : {{character.actor}}</p>
        <div class="d-flex flex-row"  *ngIf="character.patronus">Patronus : <p class="patronus pl-2">{{character.patronus}}</p></div>
      </div>
    </div>
  </div>



</body>


</html>
